
$container-max-widths: (
        sm: 660px,
        md: 820px,
        lg: 960px,
        xl: 1180px
);

$theme-colors: (
        "primary": #d91d2e,
        "danger": #ff4136
);


@import "../scss/bootstrap";
