.main {
  width: auto;
  height: 100%;
  margin: 5% 3%;
  color: #e45c48; }
  .main .form-wrap {
    text-align: center;
    align-items: center;
    margin: 0 auto; }
    .main .form-wrap form {
      width: 50%;
      height: 50px;
      margin: 0 auto;
      display: flex; }
      .main .form-wrap form .submit-wrap {
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-right: 15px; }
        .main .form-wrap form .submit-wrap input[type='submit'] {
          width: 50px;
          height: 50px;
          border: none;
          outline: none;
          background: none;
          position: absolute; }
        .main .form-wrap form .submit-wrap img {
          height: 100%;
          position: relative; }
      .main .form-wrap form .search-wrap {
        width: 90%;
        height: 50px; }
        .main .form-wrap form .search-wrap .search {
          width: 100%;
          height: 100%;
          padding: 0 20px;
          border: 3px solid #e45c48;
          border-radius: 5px;
          font-size: 40px;
          color: #e45c48;
          text-decoration: none;
          outline: none; }
        .main .form-wrap form .search-wrap .search::-webkit-input-placeholder {
          color: #e45c48; }
        .main .form-wrap form .search-wrap .search::-moz-placeholder {
          color: #e45c48; }
        .main .form-wrap form .search-wrap .search:-moz-placeholder {
          color: #e45c48; }
        .main .form-wrap form .search-wrap .search:-ms-input-placeholder {
          color: #e45c48; }
  .main .menu-wrap {
    width: 100%;
    margin: 30px;
    display: flex; }
    .main .menu-wrap div {
      width: 25%; }
      .main .menu-wrap div form {
        width: 50%;
        margin: auto; }
        .main .menu-wrap div form select {
          margin-bottom: 5px;
          border: none;
          border-bottom: 3px solid #e45c48;
          color: #e45c48;
          outline: none;
          cursor: pointer; }
        .main .menu-wrap div form .search-menu {
          width: 100%;
          height: 100%;
          border: 3px solid #e45c48;
          border-radius: 5px;
          color: #e45c48;
          text-decoration: none;
          outline: none; }
        .main .menu-wrap div form .search-menu::-webkit-input-placeholder {
          color: #e45c48; }
        .main .menu-wrap div form .search-menu::-moz-placeholder {
          color: #e45c48; }
        .main .menu-wrap div form .search-menu:-ms-input-placeholder {
          color: #e45c48; }
  .main .content-wrap {
    width: 100%;
    min-height: 400px;
    display: flex; }
    .main .content-wrap .content {
      width: 50%;
      display: flex; }
      .main .content-wrap .content .content_img {
        width: 40%; }
      .main .content-wrap .content .content_info {
        width: 60%;
        text-decoration: underline;
        font-weight: bold; }
        .main .content-wrap .content .content_info div {
          margin: 5px 0; }
        .main .content-wrap .content .content_info :last-child {
          font-size: 2em; }