<head><link href="./main.css" rel="stylesheet"></head>
<div class="main">
  <div class="form-wrap">
    <form>
      <div class="submit-wrap">
        <input type="submit" name="submit" value=""><img src="img/search.png">
      </div>
      <div class="search-wrap">
        <input class="search" type="search" name="search" placeholder="Поиск">
      </div>
    </form>
    <div>Введите серийный номер илиназвание модели</div>
  </div>
  <div class="menu-wrap">
    <div>
      <form>
        <select>
          <option value="" hidden disabled selected>Тип оборудования</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
        </select>
        <input class="search-menu" type="search">
      </form>
    </div>
    <div>
      <form>
        <select>
          <option value="" hidden disabled selected>Производитель</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
        </select>
        <input class="search-menu" type="search">
      </form>
    </div>
    <div>
      <form>
        <select>
          <option value="" hidden disabled selected>Год выпуска</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
        </select>
        <input class="search-menu" type="search">
      </form>
    </div>
    <div>
      <form>
        <select>
          <option value="" hidden disabled selected>Модель</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
          <option value="Выпадающая меню">Выпадающая меню</option>
        </select>
        <input class="search-menu" type="search">
      </form>
    </div>
  </div>
  <hr style="background-color:#e45c48; height:3px; border:none;">
  <div class="content-wrap">
    <div class="content">
      <div class="content_img"><img></div>
      <div class="content_info">
        <div>Название</div>
        <div>ООО Медприбор</div>
        <div>Год выпуска: xxxx</div>
        <div>Серийный номер 1234567890-0987654</div>
        <div>100 000 y.e.</div>
      </div>
    </div>
    <div class="content"></div>
  </div>
  <hr style="background-color:#e45c48; height:3px; border:none;">
</div>