@font-face {
  font-family: "SourceSans";
  font-style: normal;
  font-weight: normal;
  src: url('./SourceSans.ttf') format('truetype'); }

@media screen and (max-width: 899px) {
  .header-info {
    display: none; } }

@media screen and (min-width: 900px) {
  .header-info {
    display: table-cell; } }

@media screen and (max-width: 389px) {
  footer {
    height: 75px; }
  main {
    height: 75px; } }

@media screen and (min-width: 390px) {
  footer {
    height: 50px; }
  main {
    height: 50px; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "SourceSans"; }

header {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #eef6df; }
  header .header {
    width: 96%;
    height: 100%;
    margin: 0 2%;
    display: table; }
    header .header .logo {
      width: 40%;
      display: table-cell;
      vertical-align: middle; }
      header .header .logo img {
        width: 100%; }
    header .header .header-info {
      width: 40%;
      vertical-align: middle; }
      header .header .header-info div {
        font-size: 30px;
        font-weight: bold;
        margin: 0 10%;
        color: #e45c48; }
    header .header .authorization {
      width: 20%;
      display: table-cell;
      vertical-align: middle; }
      header .header .authorization .authorization-wrap {
        width: 100%;
        height: 75%;
        display: contents; }
        header .header .authorization .authorization-wrap button {
          width: 80%;
          height: 30%;
          display: block;
          margin: 2% auto;
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: #e45c48;
          color: white;
          font-size: 100%;
          font-weight: bold;
          cursor: pointer; }

main {
  width: 100%;
  top: 150px;
  position: relative; }

footer {
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: #eef6df;
  color: #e45c48;
  font-weight: bold; }
  footer .footer {
    width: 96%;
    height: 100%;
    margin: 0 2%;
    display: table; }
    footer .footer .maps {
      width: 50%;
      display: table-cell;
      vertical-align: middle; }
    footer .footer .contacts {
      width: 50%;
      display: table-cell;
      vertical-align: middle; }
      footer .footer .contacts .contacts-float {
        float: right; }
        footer .footer .contacts .contacts-float .contacts-flex {
          display: flex; }
          footer .footer .contacts .contacts-float .contacts-flex img {
            width: 20px;
            height: 18px;
            margin-right: 5px; }

