<head><link href="./main.css" rel="stylesheet"></head>
<hr style="background-color:#e45c48; height:3px; border:none;">
<div class="content-wrap">
  <div class="content">
    <div class="content_img"><img></div>
    <div class="content_info">
      <div>Название</div>
      <div>ООО Медприбор</div>
      <div>Год выпуска: xxxx</div>
      <div>Серийный номер 1234567890-0987654</div>
      <div>100 000 y.e.</div>
    </div>
  </div>
  <div class="content"></div>
</div>
<hr style="background-color:#e45c48; height:3px; border:none;">