<head><link href="./info.css" rel="stylesheet"></head>
<div class="info"><img src="img/logo.png">
  <h1>Какие услуги мы оказыкаем?</h1>
  <div class="info-services">
    <div><span>Предоставим надёжную историю медецинского оборудования</span><img class="right-white" src="img/right-white.png"></div>
    <div><span>Юридически оформим сделку купли-продажи</span><img class="right-white" src="img/right-white.png"></div>
    <div><span>Доставим оборудование в любой город России</span><img class="right-white" src="img/right-white.png"></div>
  </div>
  <button>Далее</button>
</div><script type="text/javascript" src="js/index.js"></script>