.info {
  width: 100%;
  text-align: center; }
  .info img {
    width: 50%; }
  .info h1 {
    color: #e45c48; }
  .info .info-services {
    width: 100%;
    display: flex;
    margin: 20px 0; }
    .info .info-services div {
      width: 25%;
      margin: 0 auto;
      padding: 10px;
      background-color: #e45c48;
      border-radius: 3px;
      color: white;
      display: flex; }
      .info .info-services div .right-white {
        width: 10px;
        height: 10px;
        margin: auto; }
  .info button {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #e45c48;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer; }

