
<div class="blacklist-wrap">
  <table class="blacklist">
    <caption>Чёрный список сайтов</caption>
    <thead>
      <tr>
        <td>Компания</td>
        <td>Причина занесения в чёрный список</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>ООО Медприбор</div>
          <div>г. Санкт-Петербург</div>
          <div>8 (812) 336-40-36</div>
          <div>info@medpribor.ru</div>
        </td>
        <td>Отсутствие Регистрационных удостовирений</td>
      </tr>
      <tr>
        <td>
          <div>ООО Дельрус</div>
          <div>г. Москва</div>
          <div>8 (495) 120-77-00</div>
          <div>moscow@delrus.ru</div>
        </td>
        <td>Некачественное оборудование</td>
      </tr>
      <tr>
        <td>
          <div>АО Формадис</div>
          <div>г. Москва</div>
          <div>8 (495) 641-75-55</div>
          <div>info@farmadys.ru</div>
        </td>
        <td>Отсутствие Регистрационных удостовирений</td>
      </tr>
    </tbody>
  </table>
</div>