.blacklist-wrap {
  width: 100%;
  height: auto; }
  .blacklist-wrap .blacklist {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    color: black;
    font-weight: bold;
    font-size: 25px; }
    .blacklist-wrap .blacklist caption {
      font-size: 40px;
      text-decoration: underline; }
    .blacklist-wrap .blacklist thead td {
      text-decoration: underline; }
    .blacklist-wrap .blacklist tbody tr td {
      border-bottom: 3px solid black;
    }

