body {
    /*height: 100px;*/
    min-height: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.login {
    background-image: url('../../img/enterbg.jpg');
}

.fontStyle {
    font-family: 'Roboto', sans-serif;
}

