<head><link href="./index.css" rel="stylesheet"></head>
<div class="content_content-wrap">
  <div class="content_content">
    <div class="content_content-img">
      <div class="_content-img"><img></div>
      <div class="slider-wrap">
        <button class="left"><img src="img/left.png"></button>
        <div class="slider"></div>
        <button class="right"><img src="img/right.png"></button>
      </div>
    </div>
    <div class="content_content-info">
      <div><img class="label" src="img/label.png"><span>Название</span>
        <button><img class="video" src="img/video.png"></button>
      </div>
      <div><img class="label" src="img/label.png"><span>ООО Медприбор</span>
        <button><img class="video" src="img/video.png"></button>
      </div>
      <div>Год выпуска: xxxx</div>
      <div>Серийный номер 1234567890-0987654</div>
      <div class="content_content-info-price">
        <div>100 000 y.e.</div>
        <button><img class="checkbox" src="img/checkbox.png"></button>
        <button class="buy">Купить</button>
      </div>
    </div>
  </div>
  <hr style="background-color:#e45c48; height:3px; border:none;">
  <div class="content_info">
    <div>Поставленно на учёт</div>
    <div>Произведён ремонт</div>
    <div>Смена владельца</div>
    <div>События отказов</div>
  </div>
  <div class="content_story">
    <table>
      <caption>История оборудования</caption>
      <tbody>
        <tr>
          <td>Произведён ремонт</td>
          <td>28.10.2015</td>
          <td><a href="#"><img class="doc" src="img/doc.png"></a></td>
        </tr>
        <tr>
          <td>Произведён ремонт</td>
          <td>25.03.2012</td>
          <td><a href="#"><img class="doc" src="img/doc.png"></a></td>
        </tr>
        <tr>
          <td>Смена владельца</td>
          <td>10.10.2010</td>
          <td><a href="#"><img class="doc" src="img/doc.png"></a></td>
        </tr>
        <tr>
          <td>Отказ оборудования</td>
          <td>07.06.2010</td>
          <td><a href="#"><img class="doc" src="img/doc.png"></a></td>
        </tr>
        <tr> 
          <td>и т.д.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>