.content_content-wrap {
  width: auto;
  height: 100%;
  margin: 5% 3%;
  color: #e45c48;
  font-weight: bold; }
  .content_content-wrap .content_content {
    width: 100%;
    height: 400px;
    display: flex; }
    .content_content-wrap .content_content .content_content-img {
      width: 35%;
      height: 100%; }
      .content_content-wrap .content_content .content_content-img ._content-img {
        height: 80%;
        margin: 0 20%; }
      .content_content-wrap .content_content .content_content-img .slider-wrap {
        height: 20%;
        display: flex; }
        .content_content-wrap .content_content .content_content-img .slider-wrap button {
          width: 20%;
          border: none;
          outline: none;
          background: none;
          cursor: pointer; }
        .content_content-wrap .content_content .content_content-img .slider-wrap div {
          width: 60%; }
    .content_content-wrap .content_content .content_content-info {
      width: 65%;
      font-size: 30px; }
      .content_content-wrap .content_content .content_content-info div img.label {
        width: 30px; }
      .content_content-wrap .content_content .content_content-info div span {
        padding: 0 5px;
        text-decoration: underline; }
      .content_content-wrap .content_content .content_content-info div button {
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer; }
        .content_content-wrap .content_content .content_content-info div button img.video {
          width: 30px; }
      .content_content-wrap .content_content .content_content-info :nth-child(3) {
        text-decoration: underline; }
      .content_content-wrap .content_content .content_content-info :nth-child(4) {
        text-decoration: underline; }
      .content_content-wrap .content_content .content_content-info .content_content-info-price {
        width: 100%;
        font-size: 35px;
        display: flex; }
        .content_content-wrap .content_content .content_content-info .content_content-info-price div {
          width: max-content;
          border: 3px solid #e45c48;
          border-radius: 3px;
          padding: 0 5px; }
        .content_content-wrap .content_content .content_content-info .content_content-info-price button img.checkbox {
          width: 50px;
          padding: 0 10px; }
        .content_content-wrap .content_content .content_content-info .content_content-info-price button.buy {
          background-color: #e45c48;
          color: white;
          font-size: 30px;
          padding: 0 10px;
          border-radius: 3px;
          text-decoration: none; }
  .content_content-wrap .content_info {
    width: 100%;
    display: flex; }
    .content_content-wrap .content_info div {
      width: 25%;
      margin: 5px;
      border: 3px solid #e45c48;
      border-radius: 3px;
      text-align: center; }
  .content_content-wrap .content_story table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px; }
    .content_content-wrap .content_story table caption {
      margin: 20px;
      font-size: 40px; }
    .content_content-wrap .content_story table tbody td, .content_content-wrap .content_story table tbody th {
      border: 3px solid #e45c48; }
    .content_content-wrap .content_story table tbody td:nth-child(1) {
      padding: 10px;
      text-align: justify; }
    .content_content-wrap .content_story table tbody td {
      text-align: center; }
      .content_content-wrap .content_story table tbody td a img.doc {
        width: 30px; }

