<?php

require_once('../conf/db.php');
require_once('../conf/common.php');

verifyAccess();
init();
require_once('header.html');
require_once('../php/mainMenu.php');
require_once('../php/widgetAddOpEquipment.php');
require_once('../php/widgetListEquipment.php');


?>
<script src="../src/natusvincere/main.js"></script>
<script src="../src/natusvincere/addOpEq.js"></script>

<?php
require_once('layoutMenu.html');
require_once('layoutAddOpEquipment.html');
?>

<?php
require_once('layoutTable.html');
require_once('footer.html');
?>