<?php

require_once('../conf/db.php');
require_once('../conf/common.php');

verifyAdminAccess();
init();

require_once('header.html');
require_once('../php/mainMenu.php');
?>
<script src="../src/natusvincere/main.js"></script>
<script src="../src/natusvincere/addnews.js"></script>
<?php
require_once('layoutMenu.html');
require_once('layoutAdmin.html');

?>
<form>
    <div class="form-group mt-3">
        <label for='ab-header'><b>Опубликовать новость на портал:</b></label>
        <input type="text" id="ab-header" class="form-control col-8" placeholder="Заголовок">
    </div>
    <div class="form-group mt-3">
        <textarea rows="10" cols="60" id="ab-news" placeholder="Текст новости"></textarea>
    </div>
    <div class="form-check mt-3">
        <label class="form-check-label">
        <input type="checkbox" name='email' value="1" id='ab-email' class="form-check-input" placeholder="Заголовок">
            Рассылка</label>
    </div>
    <div class="col align-self-end text-right">
        <button type="button" class="btn btn-primary" id="ab-send">Опубликовать</button>
    </div>
</form>
<?php

require_once('layoutTable.html');
require_once('footer.html');
?>