<?php

require_once('../conf/db.php');
require_once('../conf/common.php');

verifyAccess();
init();
require_once('header.html');
require_once('../php/mainMenu.php');


?>
<script src="../src/natusvincere/main.js"></script>
<link href="../dist/css/blacklist.css" rel="stylesheet"></head>

<?php
require_once('layoutMenu.html');

echo '<div class="h4 mt-3 pt-3">Черный список подрядчиков</div>';
// renderSelectTournament($allTournaments);
echo '<table class="table table-striped table-bordered table-hover ">';
    echo '<thead>';
    echo '<tr class="bg-primary">';
        echo '<th scope="col">Компания</th>';
        echo '<th scope="col">Контакты</th>';
        echo '<th scope="col">Причина занесения</th>';
        echo '</tr>';
    echo '</thead>';
    echo '<tr>';
        echo '<th scope="row">ООО Медприбор</th>';
        echo '<td class="" >Санкт-Петербург<br>
            8 (812) 336-40-36 info@medpribor.ru</td>';
        echo '<td style="white-space:nowrap;">Отсутствие регистрационного удостоверения</td>';
        echo '</tr>';
    echo '<tr>';
        echo '<th scope="row">ООО Дельрус</th>';
        echo '<td class="" >Москва<br>
            8 (495) 120-77-00
            moscow@delrus.ru</td>';
        echo '<td style="white-space:nowrap;">Некачественное оборудование</td>';
        echo '</tr>';

    echo '<tbody>';

require_once('layoutTable.html');
require_once('footer.html');
?>