<?php

require_once('../conf/db.php');
require_once('../conf/common.php');


if (!isset($_REQUEST['path'])){
    die_ajax('Упс');
}

$original_hash = ($_REQUEST['path']);
$hash = getGetParameter('path');


if (! ($email = getEmailByHash($hash))){
    die_ajax('Email не зарегистрирован.');
};

require_once('header.html');
?>
<script src="../src/natusvincere/createpassword.js"></script>
</head>
<body>

<div class="container" style="margin-top: 20vh;">
    <div class="row justify-content-center">
        <div style="font-weight: 700; font-size: 2em; font-family: 'Roboto', sans-serif;">
            Поздравляем, ваш электронный адрес подтвержден!
        </div>
    </div>
        <div class="row justify-content-center px-3 mt-3" style="font-size: 1.5em;">
            <div class="col-6 ">
                Задайте пароль (Длина 6 и более символов)
            </div>
        </div>
    <div style="height: 40px;">

    </div>
    <form method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="input-group input-group-lg mb-3" >
                <input type="text" class="form-control" style="font-size: 1.4em; font-weight: 700;" disabled value="<?= $email?>">
                <span class="input-group-addon" style="width: 100px;">E-mail</span>
            </div>
            <div class="input-group input-group-lg mb-3">
                <input type="password" name='password1' class="form-control" style="font-size: 1.4em; font-weight: 700;" required>
                <span class="input-group-addon" style="width: 100px;">Пароль</span>
            </div>
            <div class="input-group input-group-lg mb-3">
                <input type="password" name='password2' class="form-control" style="font-size: 1.4em; font-weight: 700;" required>
                <span class="input-group-addon" style="width: 100px;">Еще раз</span>
            </div>
        </div>
        <div class="w-100" style="height: 50px;">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary btn-lg" style="font-size: 2.5em;" type="submit" id="ab-send">Отправить</button>
        </div>
    </div>
        <input type="hidden" name="path" value="<?= $original_hash?>">
    </form>
</div>


<?php
//require_once('footer.html');
?>