<footer>
    <div class="footer">
        <div class="maps">Россия, Санкт-Петербург, Проспект Медиков, д.3</div>
        <div class="contacts">
            <div class="contacts-float">
                <div class="contacts-flex"><img src="../img/phone.png">
                    <div>+7(495)120-77-00</div>
                </div>
                <div class="contacts-flex"><img src="../img/email.png">
                    <div>spb@delus.ru</div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>