<?php

require_once('../conf/db.php');
require_once('../conf/common.php');

if (checkCookie()){
    header("Location: $main_url");
}

require_once('header_main.html');

?>
    <script src="../src/natusvincere/registration.js"></script>
</head>

<header>
    <div class="header">
        <div class="logo"><img src="../img/logo.png"></div>
        <div class="header-info">
            <div>Проверенное медицинское оборудование</div>
        </div>
        <div class="authorization">
            <div class="authorization-wrap">
                <button class="check" data-toggle="modal" data-target="#registration" role="button">Регистрация</button>
                <button class="entry" data-toggle="modal" data-target="#login" role="button">Вход</button>
            </div>
        </div>
    </div>
</header>



<body>
<div class="container" style="height: 100vh;">
    <div class="row " style="margin-top: 100px; height: 100vh;">
        <div class="info">
            <h1>Какие услуги мы Оказываем?</h1>
            <div class="info-services">
                <div><span>Предоставим надёжную историю медецинского оборудования</span><img class="right-white" src="../img/right-white.png"></div>
                <div><span>Юридически оформим сделку купли-продажи</span><img class="right-white" src="../img/right-white.png"></div>
                <div><span>Доставим оборудование в любой город России</span><img class="right-white" src="../img/right-white.png"></div>
            </div>
            <button>Далее</button>
        </div>
<!--        <div class="jumbotron col">-->
<!--            <h1 class="display-5 text-center">Цифровой реестр медицинского оборудования</h1>-->
<!--            <hr class="my-4">-->
<!--            <p class="lead text-center">-->
<!--&lt;!&ndash;                <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#registration" role="button">Регистрация</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#login" role="button">Вход</a>&ndash;&gt;-->
<!--            </p>-->
<!--&lt;!&ndash;            <p class="lead text-center" style="font-size: 0.8em;">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="<?=$site_url . 'lostpassword.html'?>">Забыли пароль?</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--        </div>-->
    </div>
</div>

<div class="modal fade" id="registration" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3" id="ab-warning">
                    При подаче документов необходимо дать согласие на обработку персональных данных, согласно ФЗ-152
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="ab-agree" class="form-check-input" type="checkbox" value="agree">
                        Даю согласение на обработку персональных данных
                    </label>
                </div>
                <div id="ab-email">
                    <div class="px-3 py-3">
                        На электронный адрес будет выслана ссылка для задания пароля.
                    </div>
                    <div class="input-group px-3">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id='ab-send' type="button" class="btn btn-primary disabled">Отправить</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center py-3 my-3" style="font-size: 1.5em;">
                Авторизация на портале Natus Vincere
            </div>
            <form class="f">
            <div class="d-flex mx-3 mb-3 justify-content-center flex-wrap">
                <div class="input-group col-10 mb-1">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" name='email' type="text" placeholder="E-mail">
                </div>
                <div class="input-group col-10">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" name='password' type="password" placeholder="Пароль">
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id='ab-login' type="button" class="btn btn-primary">Войти!</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Отмена</button>
            </div>
            </form>
        </div>
    </div>
</div>


<?php
require_once('footer.html');
?>