</head>

<header>
    <div class="header">
        <div class="logo"><img src="../img/logo.png"></div>
        <div class="header-info">
            <div>Проверенное медицинское оборудование</div>
        </div>
        <div class="authorization">
            <div class="authorization-wrap">
<!--                <button class="check" data-toggle="modal" data-target="#registration" role="button">Регистрация</button>-->
<!--                <button class="entry" data-toggle="modal" data-target="#login" role="button">Вход</button>-->
                <a class="nav-link " data-toggle="modal" data-target="#ab-logout" href="#">Выход</a>
            </div>
        </div>
    </div>
</header>


<body class="d-flex align-items-start flex-column" style='min-height: 100vh;'>
<!--<nav class="container navbar mt-3 py-0 navbar-light navbar-expand-md" style="background-color: #CBE8FD;">-->
<!--    <a class="navbar-brand py-0" href="<?=$site_url?>"><img src="../img/logo.jpg" height="80px"></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="menu">-->
<!--        <?php-->
<!--            $marginLeft = 'ml-auto';-->
<!--            if ($user['isPlayer']){-->
<!--            $marginLeft='';-->
<!--            ?>-->
<!--        <form class="form-inline my-2 my-lg-0 ml-auto pr-3">-->
<!--            <a class="btn btn-outline-info my-2 my-sm-0" role='button' href="<?=$site_url.'addResults.html'?>">Внести результат</a>-->
<!--        </form>-->
<!--        <?php-->
<!--        }-->
<!--        ?>-->
<!--        <ul class="mr-3 navbar-nav pl-3 <?= $marginLeft ?>">-->
<!--            <li class="nav-item">-->
<!--&lt;!&ndash;                <a class="nav-link " data-toggle="modal" data-target="#ab-logout" href="#">Выход</a>&ndash;&gt;-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<div class="container mt-2" style="display: flex; flex-direction: column; min-height: 87vh">
    <div class="row">
        <?php
            renderMainMenu();
        ?>
        <div class="col-9 col-lg-7 ">
