</div>
<div class="col-7 col-lg-3 px-0 mx-auto mt-3 mt-lg-0">
    <?php

    ?>
</div>
</div>
</div>
<!--<div class="container d-flex mt-auto py-2" style="background-color: #CBE8FD; font-size: 0.9em;">-->
<!--    <b>Natus Vincere</b> &nbsp; - Цифровой реестр медицинского оборудования-->
<!--</div>-->
