<nav class="nav nav-tabs">
    <a class="nav-item nav-link active" href="<?=$site_url.'requests.html'?>">Заявки</a>
    <a class="nav-item nav-link" href="<?=$site_url.'addnews.html'?>">Новости</a>
    <a class="nav-item nav-link" href="<?=$site_url.'manageUsers.html'?>">Черный список</a>
<!--    <a class="nav-item nav-link" href="<?=$site_url.'manageTournaments.html'?>">Турниры</a>-->
</nav>