<?php

require_once('../conf/bootstrap.php');

$path = 0;
if (isset($_REQUEST['path'])){
    $hash = rawurldecode(getGetParameter('path'));

    $path = 1;
}
require_once('header.html');
?>
<script src="../src/natusvincere/lostpassword.js"></script>
</head>
<body>

<div class="container" style="margin-top: 20vh;">
    <div class="row justify-content-center">
        <div style="font-weight: 700; font-size: 2em; font-family: 'Roboto', sans-serif;">
            Восстановление пароля
        </div>
    </div>
    <?php
    if ($path){
    ?>
        <div class="row justify-content-center px-3 mt-3" style="font-size: 1.5em;">
            <div class="col-6 ">
                Задайте пароль (Длина 6 и более символов)
            </div>
        </div>
    <?php
    }
    ?>
    <div style="height: 40px;">

    </div>
    <form method="post">
    <div class="row justify-content-center">
        <?php
        if ($path){
        ?>
        <div class="col-6">
        <div class="input-group input-group-lg mb-3" >
            <input type="password" class="form-control" name='password1' style="font-size: 1.4em; font-weight: 700;"  value="">
            <span class="input-group-addon" style="width: 120px;">Пароль</span>
        </div>
        <div class="input-group input-group-lg mb-3">
            <input type="hidden" id='hash' name='hash' class="form-control" style="font-size: 1.4em; font-weight: 700;" value="<?= $hash ?>">
            <input type="password" name='password2' class="form-control" style="font-size: 1.4em; font-weight: 700;" required>
            <span class="input-group-addon" style="width: 120px;">Еще раз</span>
        </div>
        <?php
        }else {
        ?>
        <div class="col-6">
        <div class="input-group input-group-lg mb-3" >
            <input type="text" class="form-control" name='email' style="font-size: 1.4em; font-weight: 700;"  value="">
            <span class="input-group-addon" style="width: 120px;">E-mail</span>
        </div>
        <div class="input-group input-group-lg mb-3">
            <input type="text" name='surname' class="form-control" style="font-size: 1.4em; font-weight: 700;" required>
            <span class="input-group-addon" style="width: 120px;">Фамилия</span>
        </div>
        <?php
        }
        ?>
    </div>
        <div class="w-100" style="height: 50px;">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary btn-lg" style="font-size: 2.5em;" type="submit" id="ab-send">Отправить</button>
        </div>
    </div>
    </form>
</div>


<?php
require_once('footer.html');
?>