<?php

require_once('../conf/bootstrap.php');

verifyAccess();

init();

require_once('header.html');
require_once('../php/mainMenu.php');

?>
<script src="../src/natusvincere/main.js"></script>
<?php
require_once('layoutMenu.html');
?>
<div class="h1">Добро пожаловать, <b><?=$user['name'] . ' ' . $user['middle_name']?>!</b></div>
<div class="greeting" >
<!--    <img style="margin-left: 140px;"src="../img/greeting.png">-->
    <div class="greeting-info">
        <div>Добро пожаловать в компанию Natus Vincere!</div>
        <div>С нашей помощью вы можете найти и приобрести проверенное медецинское оборудование</div>
    </div>

</div>

<?php
require_once('layoutTable.html');
require_once('footer.html');
?>