<?php

require_once('../conf/bootstrap.php');

if (!checkCookie()){
    auth_required();
}

$user = array_merge($user, dbGetUserInfoByCookie(getCookie(), $user['player_id']));

if ($user['verified'] == 4 ){
    echo "Ваша заявка отклонена";
    exit;
}

if ($user['verified'] == 1 ){
    header("Location: $site_url");
}

$user['name'] = str_replace('-', '', $user['name']);
$user['surname'] = str_replace('-', '', $user['surname']);
$user['middle_name'] = str_replace('-', '', $user['middle_name']);

$wait = false;
$wait_form = '';
if ($user['verified'] == 2 ){
    $wait = true;
    $wait_form = 'disabled';
}

require_once('header.html');
?>
<script src="../src/natusvincere/newuser.js"></script>

</head>
<body>

<div class="container" style="margin-top: 20vh;">
    <div class="row justify-content-center">
        <div style="font-weight: 700; font-size: 4em; font-family: 'Roboto', sans-serif;">
            Добро пожаловать!
        </div>
    </div>
    <div class="row justify-content-center px-3 mt-3" style="font-size: 1.5em;">
        <?php
            if (!$wait){
        ?>
            <div class="col-10 text-justify">
            <b>Поздравляем!</b> Вы завершили процедуру регистрации на портале Natus Vincere. Остается сделать последний шаг для получения доступа. На нашем сайте ручная модерация новых пользователей. Пожалуйста, представтесь.
            </div>
        <?php
        }

        if ($wait) {
        ?>
        <div class="row justify-content-center col-10" style="font-size: 1.5em;">
            <div class="alert alert-success ">
                Ваша заявка на рассмотрении. После подтверждения вам будет отправлен email.
            </div>
        </div>
        <?php
        }
    ?>
    </div>
    <div style="height: 40px;">

    </div>
    <form>
    <div class="row justify-content-center anchor">
        <div class="col-6">
            <div class="input-group input-group-lg mb-3" >
                <input type="text" name='surname' class="form-control" style="font-size: 1.4em; font-weight: 700;" value="<?=$user['surname']?>" <?=$wait_form?> required>
                <span class="input-group-addon" style="width: 140px;">Фамилия</span>
            </div>
            <div class="input-group input-group-lg mb-3">
                <input type="text" name='name' class="form-control" style="font-size: 1.4em; font-weight: 700;" value="<?=$user['name']?>" <?=$wait_form?> required>
                <span class="input-group-addon" style="width: 140px;">Имя</span>
            </div>
            <div class="input-group input-group-lg mb-3">
                <input type="text" name='middle_name' class="form-control" style="font-size: 1.4em; font-weight: 700;" value="<?=$user['middle_name']?>" <?=$wait_form?> required>
                <span class="input-group-addon" style="width: 140px;">Отчество</span>
            </div>
            <div class="input-group input-group-lg mb-3" >
                <input type="text" class="form-control" style="font-size: 1.4em; font-weight: 700;" disabled value="<?= $user['email']?>">
                <span class="input-group-addon" style="width: 140px;">E-mail</span>
            </div>
        </div>

        <div class="w-100" style="height: 50px;">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary btn-lg" id='ab-submit' style="font-size: 2.5em;" <?=$wait_form?> type="submit">Представиться</button>
        </div>
    </div>
    </form>
</div>


<?php
//require_once('footer.html');
?>