<?php

require_once('../conf/db.php');
require_once('../conf/common.php');

verifyAdminAccess();
init();

require_once('header.html');
require_once('../php/mainMenu.php');
require_once('../php/requests.php');
?>
<script src="../src/natusvincere/main.js"></script>
<script src="../src/natusvincere/requests.js"></script>
<?php
require_once('layoutMenu.html');
require_once('layoutAdmin.html');

renderRequests();
?>
<div class="content text-right">
<div class="dropdown show">
    <a class="btn btn-primary dropdown-toggle" data-toggle='dropdown' role="button" href="#" id="dropdownMenuLink"  aria-haspopup="true" aria-expanded="false">Решение?</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" name='accept' href="#">Подвердить</a>
    <a class="dropdown-item" name='decline' href="#">Отказать</a>
</div>
</div>
</div>
<div class="modal fade" id="ab-confirm" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Заявки на регистрацию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ab-res">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id='ab-yes' class="btn btn-primary">Подтвердить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<?
require_once('layoutTable.html');
require_once('footer.html');
?>