<head><link href="./index.css" rel="stylesheet"></head>
<div class="greeting"><img src="img/greeting.png">
  <div class="greeting-info">
    <div>Добро пожаловать в компанию Natus Vincere!</div><br>
    <div>С нашей помощью вы можете найти и приобрести проверенное медецинское оборудование</div>
  </div>
  <button>Далее</button>
</div><script type="text/javascript" src="js/index.js"></script>