.greeting {
  width: 100%;
  text-align: center; }
  .greeting .greeting-info {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid #e45c48;
    border-radius: 3px;
    color: #e45c48;
    font-size: 30px;
    font-weight: bold; }
  .greeting button {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #e45c48;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer; }

